<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>




<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-boot-strap-demo></app-boot-strap-demo>
      <div class="recipes">
        <app-recipes></app-recipes>
        <app-recipe-detail></app-recipe-detail>
        <app-recipe-list></app-recipe-list>       
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="shopping-list">
        <app-shopping-list></app-shopping-list>
        <app-shopping-edit></app-shopping-edit>
      </div>
    </div>
  </div>
</div> -->

